.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid $twitter-background;
  padding-right: 10px;
  display: flex;
  padding: 10px 16px;
  background: #fff;
  border-radius: 8px;
  > form {
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    padding-top: 4px;
    margin-right: 12px;
    flex-basis: 48px;
    -webkit-box-flex: 0;
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-grow: 0;
  }
  &__form {
    padding-top: 4px;
    flex-grow: 1;
    -webkit-box-flex: 1;
  }
  &__input {
    display: flex;
    flex-direction: column;
    > textarea {
      flex: 1;
      font-size: 20px;
      border: none;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  &__imagePreview {
    margin: 8px 0;
  }
  &__bar {
    border-top: 1px solid $twitter-background;
    &--icon,&--button {
      margin-top: 12px;
      display:flex;
      align-items: center;
    }
    .icon {
      color: $twitter-color;
      cursor: pointer;
      &--wrap {
        min-width: 40px;
        min-height: 40px;
        margin-left: -12px;
      }
      &--item {
        display: flex;
        text-align: center;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
      }
    }
  }
  &__imageInput {
    border: none;
    padding: 10px;
  }
  &__tweetButton {
    background-color: $twitter-color !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
  }
}
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden; 
}