@import "./reset";
@import "./variables";
//pages
@import "./pages/home";
@import "./pages/login.scss";
@import "./pages/details.scss";
@import "./pages/profile.scss";

//components
@import "./components/tweetBox.scss";
@import "./components/post.scss";
@import "./components/commentPost.scss";

body,
html {
  overscroll-behavior: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.link {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
}
.link--none {
  display: unset;
}
.overflow {
  overflow: hidden;
}
.full-width {
  width: 100%;
}
.block {
  display: block;
}
.progress {
  color: #fff !important;
  &.blue {
    color: $twitter-color !important;
  }
}
.text__input {
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  &:focus {
    outline: none;
  }
}

.btn-follow {
  color: $twitter-color !important;
  border-radius: 9999px !important;
  text-transform: capitalize !important;
  border: 1px solid $twitter-color !important;
  width: 100%;
  min-width: 79px;
  &:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
  }
}
.btn-following {
  background-color: $twitter-color !important;
  color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  width: 100%;
  .unfollow {
    display: none;
  }
  &:hover {
    background-color: rgb(202, 32, 85) !important;
    .unfollow {
      display: block;
    }
    .following {
      display: none;
    }
  }
}
.btn-save {
  background-color: $twitter-color !important;
  color: #fff !important;
  max-height: 32px;
  min-width: 32px !important;
  margin-left: 16px !important;
  border-radius: 9999px !important;
  padding: 0 1em !important;
  font-weight: 700 !important;
}
.btn-add,
.btn-close {
  .MuiIconButton-root {
    color: rgb(255, 255, 255);
    opacity: 0.75;
  }
}
.btn-close {
  margin-left: 32px;
}

.MuiAutocomplete-popper {
  left: -10px !important;
  width: 350px !important;
  min-height: 100px !important;
  max-height: calc(80vh - 53px) !important;
}

.activeLink {
  background-color: rgba(45, 156, 255, 0.1);
  border-radius: 8px;
  .icon {
    background-color: #1877f2;
    color: #fff;
  }
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #1877f2 !important;
}

.activeImage {
  opacity: 1 !important;
}

.errorImage {
  border: 1px solid #f44336 !important;
}

.MuiAvatarGroup-avatar {
  width: 28px !important;
  height: 28px !important;
  font-size: 15px !important;
}
.MuiLinearProgress-barColorPrimary {
  background-color:rgb(29, 161, 242)  !important;
}